@media (min-width: 768px) {
    .x .c1-d {
        font-size: 16px
    }
}

@media (min-width: 768px) {
    .x .c1-1v {
        margin-top: 0
    }
}

@media (min-width: 768px) {
    .x .c1-1w {
        margin-right: -24px
    }
}

@media (min-width: 768px) {
    .x .c1-1x {
        margin-bottom: 0
    }
}

@media (min-width: 768px) {
    .x .c1-1y {
        margin-left: -24px
    }
}

@media (min-width: 768px) {
    .x .c1-28 {
        padding-top: 0
    }
}

@media (min-width: 768px) {
    .x .c1-29 {
        padding-right: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-2a {
        padding-bottom: 0
    }
}

@media (min-width: 768px) {
    .x .c1-2b {
        padding-left: 24px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2j {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3g {
        display: block
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3h {
        max-height: 88px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3i {
        margin-top: 0
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3j {
        margin-right: auto
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3k {
        margin-bottom: 0
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3l {
        margin-left: auto
    }
}

@media (min-width: 768px) {
    .x .c1-4l {
        font-size: 14px
    }
}

@media (min-width: 768px) {
    .x .c1-4v {
        width: 100%
    }
}

@media (min-width: 768px) {
    .x .c1-5l {
        font-size: 48px
    }
}

@media (min-width: 768px) {
    .x .c1-5v {
        font-size: 38px
    }
}

@media (min-width: 768px) {
    .x .c1-60 {
        font-size: 30px
    }
}

@media (min-width: 768px) {
    .x .c1-68 {
        margin-left: 8.333333333333332%
    }
}

@media (min-width: 768px) {
    .x .c1-69 {
        flex-basis: 83.33333333333334%
    }
}

@media (min-width: 768px) {
    .x .c1-6a {
        max-width: 83.33333333333334%
    }
}

@media (min-width: 768px) {
    .x .c1-6h {
        flex-direction: row
    }
}

@media (min-width: 768px) {
    .x .c1-6j {
        margin-top: 4px
    }
}

@media (min-width: 768px) {
    .x .c1-6k {
        margin-bottom: 4px
    }
}

@media (min-width: 768px) {
    .x .c1-6l {
        margin-right: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-6m {
        height: 100%
    }
}

@media (min-width: 768px) {
    .x .c1-7o {
        max-width: 30%
    }
}

@media (min-width: 768px) {
    .x .c1-7p {
        width: auto
    }
}