@media (min-width: 1024px) {
    .x .c1-e {
        font-size: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-12 {
        min-height: 85vh
    }
}

@media (min-width: 1024px) {
    .x .c1-14 {
        position: static
    }
}

@media (min-width: 1024px) {
    .x .c1-1a {
        padding-top: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-1b {
        padding-bottom: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-1c {
        padding-left: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-1d {
        padding-right: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-1l {
        display: flex
    }
}

@media (min-width: 1024px) {
    .x .c1-1m {
        justify-content: center
    }
}

@media (min-width: 1024px) {
    .x .c1-1n {
        width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-1z {
        display: none
    }
}

@media (min-width: 1024px) {
    .x .c1-33 {
        margin-top: -8px
    }
}

@media (min-width: 1024px) {
    .x .c1-3m {
        height: 139px
    }
}

@media (min-width: 1024px) {
    .x .c1-3n {
        width: 153.9242105263158px
    }
}

@media (min-width: 1024px) {
    .x .c1-3o {
        max-height: 139px
    }
}

@media (min-width: 1024px) {
    .x .c1-3p {
        box-shadow: none
    }
}

@media (min-width: 1024px) {
    .x .c1-3w {
        flex-basis: 33.33333333333333%
    }
}

@media (min-width: 1024px) {
    .x .c1-3x {
        max-width: 33.33333333333333%
    }
}

@media (min-width: 1024px) {
    .x .c1-4m {
        font-size: 14px
    }
}

@media (min-width: 1024px) {
    .x .c1-4s {
        margin-top: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-4t {
        margin-bottom: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-4u {
        padding-top: 79px
    }
}

@media (min-width: 1024px) {
    .x .c1-4w {
        width: 984px
    }
}

@media (min-width: 1024px) {
    .x .c1-4x {
        margin-left: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-4y {
        margin-right: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-4z {
        max-width: 66%
    }
}

@media (min-width: 1024px) {
    .x .c1-56 {
        flex-direction: column
    }
}

@media (min-width: 1024px) {
    .x .c1-57 {
        flex-grow: 1
    }
}

@media (min-width: 1024px) {
    .x .c1-58 {
        flex-shrink: 0
    }
}

@media (min-width: 1024px) {
    .x .c1-59 {
        flex-basis: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-5a {
        padding-top: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-5b {
        padding-bottom: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-5c {
        text-align: center
    }
}

@media (min-width: 1024px) {
    .x .c1-5d {
        max-width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-5e {
        align-items: center
    }
}

@media (min-width: 1024px) {
    .x .c1-5m {
        font-size: 48px
    }
}

@media (min-width: 1024px) {
    .x .c1-5w {
        font-size: 38px
    }
}

@media (min-width: 1024px) {
    .x .c1-61 {
        font-size: 30px
    }
}

@media (min-width: 1024px) {
    .x .c1-6b {
        margin-left: 16.666666666666664%
    }
}

@media (min-width: 1024px) {
    .x .c1-6c {
        flex-basis: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-6d {
        max-width: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-84 {
        flex-basis: 0%
    }
}

@media (min-width: 1024px) {
    .x .c1-85 {
        max-width: none
    }
}

@media (min-width: 1024px) {
    .x .c1-87 {
        text-align: left
    }
}

@media (min-width: 1024px) {
    .x .c1-8e {
        text-align: right
    }
}